@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  background: #F2F2F2;
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  width: 1200px;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-button {
  width: 160px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.hero{
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  height: 485px;
}

.advantages-title-general {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  }

.advantages-general {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  }

.advantages-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-line {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  width: 400px;
  height: 385px;
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-square,
.advantages-item-tourists {
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  align-items: center;
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason {
padding: 0;
}

.reason-title-general {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
  }

.reason-general {
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
  }

.reason-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.reason-item-house,
.reason-item-souvenir {
display: flex;
flex-shrink: 0;
flex-direction: column;
justify-content: center;
align-items: center;
width: 400px;
height: 385px;
background: rgba(131, 179, 211, 0.12);
}

.reason-item-food {
display: flex;
flex-shrink: 0;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 400px;
height: 385px;
}

.reason-title {
width: 230px;
height: 28px;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
}

.reason-description {
width: 230px;
height: 63px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;
}

.interest {
display: flex;
flex-direction: column;
text-align: center;
margin: 0 auto;
width: 1200px;
height: 406px;
background: #FFFFFF;
}

.interest-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}

.interest-item {
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}

.interest-search {
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}

.search-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 376px;
  height: 52px;
  background: #756157;
  border-radius: 4px;
  margin: 0 auto;
}

.subscribe {
justify-content: center;
width: 1200px;
height: 414.86px;
background: url(../images/subscribe.jpg) no-repeat;
text-align: center;
margin: 0 auto;
}

.subscribe-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}

.subscribe-item {
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

.field {
width: 452px;
height: 52px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
background: #F2F2F2;
border-radius: 4px 0px 0px 4px;
border: 0;
margin: 0 auto;
}

.button {
width: 232px;
height: 52px;
background: #82B3D3;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-decoration: none;
flex-direction: row;
justify-content: center;
align-items: center;
text-transform: uppercase;
color: #FFFFFF;
border: 0;
}

.page-footer {
width: 1200px;
height: 120px;
color: #000000;
background-color: #FFFFFF;
display: flex;
padding: 0;
margin: 0 auto;
justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style: none;
  background: #FFFFFF;
  justify-content: center;
  margin: 0;
  padding: 0px 10px;
  gap: 10px;
  text-align: center;

}

.footer-contact-phone {
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #000000;
}

.main-inner {
background-color: #FFFFFF;
background-image: url(../images/catalog-back.jpg);
background-repeat: no-repeat;
}

.inner-header-title {
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}

.breadcrumbs {
color: #FFFFFF;
list-style: none;
text-decoration: none;
}

.breadcrumbs-link {
color: inherit;
}

.catalog-filter-title {
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
}

.control {
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}

.button-apply {
width: 191px;
height: 36px;
background: #82B3D3;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}

.button-reset {
width: 191px;
height: 36px;
font-weight: 700;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}

.sorting-container {
background: #FFFFFF;
color: #000000;
}

.button-light {
background: #FFFFFF;
}

.hotel-card {
background: #FFFFFF;
}

.hotel-card-link {
text-decoration: none;
}

.hotel-card-title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.hotel-card-type {
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}
.hotel-card-price {
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.hotel-card-button {
width: 140px;
height: 36px;
background: #756157;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
}

.hotel-card-button-favourites {
width: 140px;
height: 36px;
background: #82B3D3;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
}

.hotel-card-top {
width: 140px;
height: 37px;
background: #F2F2F2;
border-radius: 4px;
}

.pagination {
background: #ffffff;
list-style: none;
}

.pagination-link {
background: #82B3D3;
border-radius: 4px;
width: 60px;
height: 60px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}

.pagination-current {
background: #F2F2F2;
border-radius: 4px;
text-decoration: none;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
